<div class="card mb-4 p-3">
  <div class="d-flex align-items-center">
    <div>
      <h4 class="mb-0">Bienvenue : {{ current_user.nom_utilisateur }}</h4>
      
      
    </div>
  </div>

  
    

  <h5 class="mt-4">Posts récents :</h5>
  {% if posts %}
    <ul class="list-unstyled">
      {% for post in posts %}
        <li class="mb-2">
          <img src="{{ post.auteur.avatar(25) }}" 
               alt="Avatar mini" 
               class="rounded-circle me-2" width="25" height="25">
          <strong>{{ post.timestamp.strftime('%d %B %Y à %H:%M') }}</strong><br>
          {{post.auteur.nom_utilisateur}} : {{ post.contenu }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Aucun post pour le moment.</p>
  {% endif %}
</div>
