{% extends "base.html" %}

{% block content %}
  <h1><img src="{{ utilisateur.avatar(150) }}" 
       alt="Avatar de {{ utilisateur.nom_utilisateur }}" 
       class="rounded-circle shadow-sm mb-3" 
       width="150" height="150">
       Utilisateur : {{ utilisateur.nom_utilisateur }}</h1>


  

  <h2>Ses posts :</h2>
  {% if posts %}
    <ul>
      {% for post in posts %}
        <li>
            <img src="{{ utilisateur.avatar(150) }}" 
           alt="Avatar de {{ utilisateur.nom_utilisateur }}" 
          class="rounded-circle shadow-sm mb-3" 
           width="50" height="50">
          <strong>{{ post.date_creation.strftime('%d %B %Y à %H:%M') }}</strong><br>
          {{ post.contenu }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p> <img src="{{ utilisateur.avatar(150) }}" 
       alt="Avatar de {{ utilisateur.nom_utilisateur }}" 
       class="rounded-circle shadow-sm mb-3" 
       width="50" height="50">
       A aucun post pour le moment.</p>
  {% endif %}
{% endblock %}
